*{
	padding: 0;
	margin: 0;
	border: 0;
	font-family: sans-serif;
}
header{
	
	padding: 10px 0;
}
.margenes{
	width: 80%;
	margin: auto;
}
figure img{
	width: 80%;
}
nav li a{
	text-decoration: none;
	color: #333333;
}
#banner{
	background-image:url("../img/banner-1.jpeg");
	height: 300px;
	background-attachment: fixed;
	background-size: cover;
}
.banner-fondo{
	height: 100%;
	background: rgba(121,106,217,.5);
}
.banner-titulo{
	text-align: center;
	position: relative;
	top: 70px;

}
.banner-titulo h1{
	font-size: 70px;
	color: white;
	margin-bottom: 10px;
}
h1 +a{
	background: #FFD770;
	padding: 15px 20px;
	color:#333333;
	text-transform: uppercase;
	text-decoration:none; 
	font-weight: bold;
}
#servicios{
	padding: 2em;
}

.servicios-contenedor{
	height: 220px;/*altura con px*/
	margin: 5px;
	text-align: center;
	float: left;
}
.servicios-icono{
	background: white;
	width: 120px;
	height: 120px;
	border-radius: 50%;
	margin: 20px auto;
}
.servicios-icono img{
	width: 50%;
	position: relative;
	top: 30px;
}
#servicios > h2{
	text-align: center;
}
.servicios-contenedor:nth-child(2){
background: #FFD770;
}
.servicios-contenedor:nth-child(3){
background: #89D9E8;
}
.servicios-contenedor:nth-child(4){
background: #E15FE8;
}
.servicios-contenedor:nth-child(5){
background:#B285FF; 
}

/*Telefono*/
@media(min-width: 320px){
	body{
		background: yellow;
	}
	header{
		height: 300px;
		text-align: center;
	}
	figure{
		width: 70%;
		float: none;
		margin: auto;
	}
	nav li{
		display: block;
		margin: 10px;
	}
	nav{
		float: none;
		position: relative;
		top: 25px;
	}
	.servicios-contenedor{
		width: 100%;/*ancho con porcentaje*/
	}
}

/*Tablet*/
@media(min-width: 480px){
	body{
		background:blue;
	}
	header{
		height: 80px;
		text-align: left;
	}
	figure{
		width: 10%;
		float: left;
	}
	nav{
		float: right;
	}
	nav li{
		display: inline-block;
	}
	.servicios-contenedor{
		width:40%;/*altura con px*/
	}

}
/*Escritorio*/
@media(min-width: 768px){
	body{
		background: gray;
	}
	header{
		height: 80px;
		text-align: left;
	}
	figure{
		width: 10%;
		float: left;
	}
	nav li{
		display: inline-block;
		margin: 5px;
	}
	nav{
		float: right;
		position: relative;
		top: 25px;
	} 
	.servicios-contenedor{
		width: 22%;/*ancho con porcentaje*/
		
	}
}

@media print and (min-width: 320px){
	body{
		background: silver;
	}
}
@media print and (min-width: 468px) and (max-width: 1200px;){
	body{
		background: white;

	}
	#banner{
		display: none;
	}
}
@media (min-width: 200px) and (max-width: 319px){
	body{
		background: green;
	}
}